!!! 5
html
  head
    title Neutrality News

    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/main.css')
  body
    h1 Welcome to Neutrality News
    include home/articleList
