form(method='post', action='/')
  input(type='text', name='url', placeholder='Parse a url')
  input(type='submit', value='Submit')

ul#article-list
  for article in articles
    li(class='list-item')
      h2 #{article.title}
      .list-item-description #{article.description}
      .list-item-description #{article.compiled_text}
