form(method='post', action='/')
  input(type='text', name='url', placeholder='Parse a url', autofocus='autofocus')
  input(type='submit', value='Submit')

ul#article-list
  for article in articles
    li(class='list-item')
      h2
        a(href=article.url) #{article.title}
      .percent
        = article.percent
        % removed
      .list-item-description
        != article.compiled_text
